@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.width100 {
    width: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    color: black;
}

.center-text {
    text-align: center;
}

h1#pr-heading {
    font-size: 40px;
    font-weight: bold;
    margin: 12px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    background: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #262826F2;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-img {
    position: relative;
    left: 2.929vw;
    height: 57px;
    width: 57px;
    z-index: 1;
}

.header-img .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    border: #262826F2;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
}

.navbar a {
    margin-right: 2.5em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    padding: 5px 5px;
    transition: .3s;
}

.navbar a:hover {
    background: white;
    color: #262826F2
}

#home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45rem;
    padding: 5px 15%;
    color: white;
}

#home::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/bg1.jpg) no-repeat center center/cover;
    z-index: -1;
}

#home p {
    margin-top: 12px;
    letter-spacing: 0.5px;
    font-size: 16px;
}

#home button {
    margin-top: 12px;
    padding: 15px 20px;
    background: #ce0b0b82;
    color: white;
    border: 2px solid rgba(255, 217, 0, 0.822);
    border-radius: 20px;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .5s;
}

#home button:hover {
    color: white;
    background-color: #ce0b0b;
}

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#all-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#all-services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    /* width: 25vw; */
    max-width: 339.67px;
}

#all-services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

.box h2 {
    text-align: center;
    font-size: 2.7em;
}

#client-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#client-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/bg.jpg) no-repeat center center/cover;
    opacity: 0.3;
    z-index: -1;
}

.clients {
    display: flex;
    justify-content: space-between;
}

.clients>div>img {
    height: 10vw;
    margin: 2.62vw;
}

#contact-container {
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/contact.jpg) no-repeat center center/cover;
    opacity: 0.3;
    z-index: -1;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    width: 100%;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact form {
    width: 40%;
}

#contact label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

footer {
    background: #2d2d2d;
    color: white;
    padding: 10px 0;
}